* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font: 16px arial;
}

/* css do menu */
nav {
    position: fixed;
    left: 0; 
    right: 0;
    max-width: 100%;
    min-height: 46px;
    margin: 0px auto;
    background: white;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

/*css do link do menu*/
nav > div > a {
    display: inline-block;
    padding: 15px;
    color: #006884;
}

#buttonnew {
    display: none;
}

nav > div > button {
    margin: 9px auto;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    color: white;
    cursor: pointer;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
}

#esquerda {
   float: left;
   margin-left: 16%;
   text-align: left;
}

#direita {
   float: right;
   margin-right: 16%;
   text-align: right;
}

/*css ao passar o mouse sobre os links do menu*/
nav > div > a:hover {
    color: white;
    background: #4698ca;
    border-top-color: #5db1e0;
    border-left-color: #5db1e0;
}

/*css que mantêm o menu responsivo*/
@media (max-width: 600px){

    nav {
        background: #006884;
    }

    nav > div > a {
        display: block;
        color: white;
        border-bottom: 1px solid white;
    }

    #buttonnew {
        display: block;
    }

    nav > div > button {
        display: none;
    }

    #center {
        display: none;
    }

    #direita {
        display: none;
    }

    #esquerda {
        float: none;
        display: block;
        margin-left: 0px;
        text-align: center;
    }
}

footer {
    position: absolute;
    font: 12px Arial,sans-serif;
    color: #006884;
    margin: 0px auto;
    left: 0; right: 0;
    bottom: 5px;
    text-align: center;
}