* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font: 16px arial;
}

/* css do menu */
nav {
    position: fixed;
    left: 0; 
    right: 0;
    max-width: 1200px;
    margin: 6px auto;
    background: #006884;
    text-align: center;
    border-radius: 5px;
}

/*css do link do menu*/
nav > a {
    display: inline-block;
    padding: 10px;
    color: white;
}

/*css ao passar o mouse sobre os links do menu*/
nav > a:hover {
    color: white;
    background: #4698ca;
    border-top-color: #5db1e0;
    border-left-color: #5db1e0;
}

/*css que mantêm o menu responsivo*/
@media (max-width: 600px){
    nav > a {
        display: block;
        border-bottom: 1px solid white;
    }
}

footer {
    position: absolute;
    margin: 0px auto;
    left: 0; right: 0;
    max-width: 1200px;
    bottom: 5px;
    background: #006884;
    text-align: center;
    border-radius: 5px;
}